.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
/* 모바일 기기용 CSS 코드 작성 */
@media (max-width: 479px) {
  .nav {
    position: fixed;
  }
}
